---
import Badge from '../components/Badge.astro';
import BriefcaseIcon from '../components/icons/Briefcase.astro';
import CodeIcon from '../components/icons/Code.astro';
import Experience from '../components/Experience.astro';
import GitHubIcon from '../components/icons/GitHub.astro';
import MailIcon from '../components/icons/Mail.astro';
import Layout from '../layouts/Layout.astro';
import LinkedInIcon from '../components/icons/LindkedIn.astro';
import Proyects from '../components/Proyects.astro';
import SectionContainer from '../components/SectionContainer.astro';
import SocialPill from '../components/SocialPill.astro';
---

<Layout
  title='Portfolio de noobcoder007 - Desarrollador y Programador Web y Móvil.'
  description='Contrata a noobcoder007 para crear aplicaciones únicas que se ven bien y funcionan mejor'
>
  <main class="px-4">
    <SectionContainer class="py-44 pb-32">
      <img
        class='rounded-full size-12 mb-4'
        src='https://avatars.githubusercontent.com/u/40574209?v=4'
        alt='noobcoder007 photo'
      />
      <h1 class='text-white text-3xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10'>
        Hey, soy noobcoder007 <a
          href='https://www.linkedin.com/in/juan-manuel-tejeda-torres-946b46180/'
          target='_blank'
          rel='noopener'
          class='flex justify-center items-center'><Badge>Contáctame</Badge></a
        >
      </h1>
      <h2 class='lg:text-xl text-2xl text-opacity-80 text-wrap max-w-[700px]'>
        <span>+3 años de experiencia.</span>
        <span class='text-yellow-200/90'
          >Desarrollador Web FullStack y Móvil.</span
        >
        <span class='text-red-200/90'> De Zamora, Michoacan, México 🇲🇽.</span>
        <span class='opacity-80'
          >Especializado en crear aplicaciones únicas que funcionan bien y se
          ven mejor.</span
        >
      </h2>
      <nav class='flex gap-4 mt-8 flex-wrap'>
        <SocialPill
          href='https://www.linkedin.com/in/juan-manuel-tejeda-torres-946b46180/'
        >
          <LinkedInIcon class='size-4 md:size-6' />
           LinkedIn
        </SocialPill>
        <SocialPill href='https://github.com/noobcooder007'>
          <GitHubIcon class='size-4 md:size-6' />
           GitHub
        </SocialPill>
        <SocialPill href='mailto:tejeda.torres.1a@gmail.com'>
          <MailIcon class='size-4 md:size-6' />
           tejeda.torres.1a@gmail.com
        </SocialPill>
      </nav>
    </SectionContainer>
    <SectionContainer id="experiencia" class="py-44 pb-32">
      <h2 class="text-3xl font-semibold mb-10 flex gap-x-2 items-center">
        <BriefcaseIcon class="size-7" />
        Experiencia laboral</h2>
      <Experience />
    </SectionContainer>
    <SectionContainer id="proyectos">
      <h2 class="text-3xl font-semibold mb-10 flex gap-x-2 items-center">
        <CodeIcon class="size-7" />
        Proyectos</h2>
      <Proyects />
    </SectionContainer>
  </main>
</Layout>
