---
import Layout from '../layouts/Layout.astro';
import AboutMe from '../components/AboutMe.astro';
import Badge from '../components/Badge.astro';
import Contact from '../components/Contact.astro';
import Experience from '../components/Experience.astro';
import Profile from '../components/Profile.astro';
import Proyects from '../components/Proyects.astro';
import SectionContainer from '../components/SectionContainer.astro';
import ValentineEasterEgg from '../components/ValentineEasterEgg.astro';
import BriefcaseIcon from '../components/icons/Briefcase.astro';
import CodeIcon from '../components/icons/Code.astro';
import ContactIcon from '../components/icons/ContactIcon.astro';
import PersonIcon from '../components/icons/PersonIcon.astro';
---

<Layout
  title='Portfolio de noobcoder007 - Desarrollador Web y Móvil.'
  description='Contrata a noobcoder007 para crear aplicaciones únicas que se ven bien y funcionan mejor'
>
  <main class='px-4'>
    <SectionContainer class='py-6'>
      <img
        class='rounded-full size-12 mb-4 ring-2 ring-mint-600/40 dark:ring-mint-300/40'
        src='https://avatars.githubusercontent.com/u/40574209?v=4'
        alt='noobcoder007 avatar'
      />
      <h1 class='text-mint-900 dark:text-mint-50 text-3xl lg:text-5xl font-bold pb-4 lg:pb-6'>
        Hey, soy noobcoder007
      </h1>
      <a
        href='https://www.linkedin.com/in/juan-manuel-tejeda-torres-946b46180/'
        target='_blank'
        rel='noopener'
        class='inline-flex w-fit mb-6 lg:mb-10'
      >
        <Badge>Contáctame</Badge>
      </a>
      <Profile />
    </SectionContainer>
    <SectionContainer id='experiencia' class='py-6'>
      <h2 class='text-3xl font-semibold mb-10 flex gap-x-2 items-center text-mint-900 dark:text-mint-50'>
        <BriefcaseIcon class='size-7 text-mint-600 dark:text-mint-300' />
        Experiencia laboral
      </h2>
      <Experience />
    </SectionContainer>
    <SectionContainer id='proyectos' class='py-6'>
      <h2 class='text-3xl font-semibold mb-10 flex gap-x-2 items-center text-mint-900 dark:text-mint-50'>
        <CodeIcon class='size-7 text-mint-600 dark:text-mint-300' />
        Proyectos
      </h2>
      <div class='pr-4 pb-4'><Proyects /></div>
    </SectionContainer>
    <SectionContainer id='sobre-mi' class='py-6'>
      <h2 class='text-3xl font-semibold mb-10 flex gap-x-2 items-center text-mint-900 dark:text-mint-50'>
        <PersonIcon class='size-7 text-mint-600 dark:text-mint-300' />
        Sobre mi
      </h2>
      <AboutMe />
    </SectionContainer>
    <SectionContainer id="contacto" class="py-6">
      <h2 class='text-3xl font-semibold mb-10 flex gap-x-2 items-center text-mint-900 dark:text-mint-50'>
        <ContactIcon class='size-7 text-mint-600 dark:text-mint-300' />
        Contacto
      </h2>
      <Contact />
    </SectionContainer>
  </main>
  <ValentineEasterEgg />
</Layout>
