---
import Layout from '../layouts/Layout.astro';
import AboutMe from '../components/AboutMe.astro';
import Badge from '../components/Badge.astro';
import Contact from '../components/Contact.astro';
import Experience from '../components/Experience.astro';
import Profile from '../components/Profile.astro';
import Proyects from '../components/Proyects.astro';
import SectionContainer from '../components/SectionContainer.astro';
import BriefcaseIcon from '../components/icons/Briefcase.astro';
import CodeIcon from '../components/icons/Code.astro';
import ContactIcon from '../components/icons/ContactIcon.astro';
import PersonIcon from '../components/icons/PersonIcon.astro';
---

<Layout
  title='Portfolio de noobcoder007 - Desarrollador Web y Móvil.'
  description='Contrata a noobcoder007 para crear aplicaciones únicas que se ven bien y funcionan mejor'
>
  <main class='px-4'>
    <SectionContainer class='py-44 pb-8'>
      <img
        class='rounded-full size-12 mb-4'
        src='https://avatars.githubusercontent.com/u/40574209?v=4'
        alt='noobcoder007 avatar'
      />
      <h1
        class='text-white text-3xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10'
      >
        Hey, soy noobcoder007 <a
          href='https://www.linkedin.com/in/juan-manuel-tejeda-torres-946b46180/'
          target='_blank'
          rel='noopener'
          class='flex justify-center items-center'><Badge>Contáctame</Badge></a
        >
      </h1>
      <Profile />
    </SectionContainer>
    <SectionContainer id='experiencia' class='py-16 pb-8'>
      <h2 class='text-3xl font-semibold mb-10 flex gap-x-2 items-center'>
        <BriefcaseIcon class='size-7' />
        Experiencia laboral
      </h2>
      <Experience />
    </SectionContainer>
    <SectionContainer id='proyectos' class='py-16 pb-8'>
      <h2 class='text-3xl font-semibold mb-10 flex gap-x-2 items-center'>
        <CodeIcon class='size-7' />
        Proyectos
      </h2>
      <Proyects />
    </SectionContainer>
    <SectionContainer id='sobre-mi' class='py-16 pb-8'>
      <h2 class='text-3xl font-semibold mb-10 flex gap-x-2 items-center'>
        <PersonIcon class='size-7' />
        Sobre mi
      </h2>
      <AboutMe />
    </SectionContainer>
    <SectionContainer id="contacto" class="py-16 pb-44">
      <h2 class='text-3xl font-semibold mb-10 flex gap-x-2 items-center'>
        <ContactIcon class='size-7' />
        Contacto
      </h2>
      <Contact />
    </SectionContainer>
  </main>
</Layout>
