<span class='text-lg mb-4 text-pretty'>
  Hola, mi nombre real es Juan Manuel, soy Ingeniero en Sistemas Computacionales
  titulado, egresado del ITESZ, casado con el amor de mi vida, padre de 5
  hermosos perritos, nací originario de la ciudad de Chihuahua capital, vivi
  toda mi vida en Zamora, Michoacán, por cuestiones laborales me mude a la
  Ciudad de México, regresé a Zamora para unirme con la mujer que amo,
  actualmente estoy casado, vivo en la ciudad de Irapuato, Guanajuato. Soy un
  apasionado y profesional del desarrollo de software, me encanta estar al día
  en todo sentido, aprender nuevas tecnologias, ponerme retos y no descansar
  hasta lograrlo, mi mayor habilidad es la perseverancia.
</span>
