<span class='text-lg mb-4 text-pretty text-mint-900/85 dark:text-mint-50/85'>
  Mi nombre es Juan Manuel, Ingeniero en Sistemas Computacionales titulado,
  egresado del ITESZ. Originario de Chihuahua, crecí en Zamora, Michoacán y
  actualmente resido en Mérida, Yucatán. Me especializo en desarrollo full
  stack web y móvil, desde el frontend hasta la nube, con experiencia en
  tecnologías como Astro, Angular, Node.js, TypeScript y PostgreSQL. Soy un
  apasionado del desarrollo de software: me gusta mantenerme al día, aprender
  nuevas tecnologías y ponerme retos hasta lograrlos. Mi mayor fortaleza es
  la perseverancia.
</span>
