<span
  class='inline-flex items-center gap-x-2 rounded-full border border-mint-600/40 dark:border-mint-300/40 bg-mint-500/15 dark:bg-mint-400/15 backdrop-blur-md shadow-glass text-mint-800 dark:text-mint-100 text-sm md:text-base font-medium px-5 py-2.5 hover:bg-mint-500/25 dark:hover:bg-mint-400/25 hover:scale-105 transition'
  ><slot />
</span>
