<span
  class='bg-mint-500/15 dark:bg-mint-400/15 border border-mint-600/30 dark:border-mint-300/30 backdrop-blur-sm text-mint-800 dark:text-mint-100 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full'
  ><slot />
</span>
