---
import SocialPill from './SocialPill.astro';
import WhatsAppIcon from './icons/WhatsAppIcon.astro';
---

<div class='flex flex-row justify-center items-center'>
  <div>
    <p class='text-lg mb-4 text-pretty'>Genial, has decidido contactarme.</p>
    <SocialPill href='https://wa.me/+523511887078'
      ><WhatsAppIcon class='size-4 md:size-6' />Enviame un mensaje</SocialPill
    >
  </div>
</div>
