<footer
  class='rounded-lg shadow bg-black/20 backdrop:blur-lg w-full xl:w-[1120px] mx-auto m-10'
>
  <div class='flex justify-center items-center'>
    <span class='text-sm text-slate-200 sm:text-center'
      >© 2023 <a href='#top' class='hover:underline'>noobcoder007</a>. Hecho
      con ♥️ y Astro.
    </span>
  </div>
</footer>
