---
import SocialPill from './SocialPill.astro';
import GitHubIcon from './icons/GitHubIcon.astro';
import LinkedInIcon from './icons/LindkedIn.astro';
import GmailIcon from './icons/Gmail.astro';
---

<h2 class='lg:text-xl text-2xl text-mint-900/80 dark:text-mint-50/80 text-wrap max-w-[700px]'>
  <span>+7 años de experiencia.</span>
  <span class='text-mint-700/90 dark:text-mint-200/90'>Desarrollador Full Stack Web y Móvil.</span>
  <span class='text-mint-600/80 dark:text-mint-300/80'> Mexicano 🇲🇽.</span>
  <span class="text-mint-900 dark:text-mint-50 text-opacity-80"
    >Construyo software sólido, cuidando cada detalle de la experiencia.</span
  >
</h2>
<nav class='flex gap-4 mt-8 flex-wrap'>
  <SocialPill
    iconOnly
    title='LinkedIn'
    aria-label='LinkedIn'
    href='https://www.linkedin.com/in/juan-manuel-tejeda-torres-946b46180/'
  >
    <LinkedInIcon class='size-5 md:size-6' />
  </SocialPill>
  <SocialPill
    iconOnly
    title='GitHub'
    aria-label='GitHub'
    href='https://github.com/noobcooder007'
  >
    <GitHubIcon class='size-5 md:size-6' />
  </SocialPill>
  <SocialPill
    iconOnly
    title='tejeda.torres.1a@gmail.com'
    aria-label='tejeda.torres.1a@gmail.com'
    href='mailto:tejeda.torres.1a@gmail.com'
  >
    <GmailIcon class='size-5 md:size-6' />
  </SocialPill>
</nav>
