---
interface Props {
  iconOnly?: boolean;
  href: string;
  title?: string;
}
const { iconOnly = false, ...rest } = Astro.props;
---

<a
  class={`rounded-full border border-mint-600/20 dark:border-mint-300/20 bg-black/5 dark:bg-white/[0.06] backdrop-blur-lg shadow-glass text-mint-900 dark:text-mint-50 flex justify-center items-center hover:scale-110 hover:bg-mint-500/10 dark:hover:bg-mint-400/10 hover:border-mint-600/40 dark:hover:border-mint-300/40 transition ${iconOnly ? 'size-10 md:size-12' : 'gap-x-2 py-1 px-2 md:py-2 md:px-4 text-xs md:text-base'}`}
  {...rest}
  target='_blank'
  rel='noopener noreferrer'
>
  <slot />
</a>
